<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.consumer.consumer.mapper.mysql.ComponentMapper">
    <update id="updatePipeId">
        UPDATE component
        set pipe_id = #{pipeId}
        where id in
        <foreach collection="idList" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </update>
    <update id="updateStationId">
        UPDATE component
        set station_id = #{stationId}
        where id in
        <foreach collection="idList" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </update>

    <select id="getIdListByPipeId" resultType="java.lang.Integer">
        SELECT id
        from component
        where pipe_id = #{pipeId}
    </select>
    <select id="getIdListByStationId" resultType="java.lang.Integer">
        SELECT id
        from component
        where station_id = #{pipeId}
    </select>
    <select id="likeByName" resultType="com.consumer.consumer.bean.vo.ComponentVO">
        SELECT id,name,lat,lon
        FROM component t1
        where name  LIKE concat(concat('%',#{name}),'%')
          and station_id is  null
        UNION
        SELECT id,name,lat,lon
        FROM station
        where  name LIKE concat(concat('%',#{name}),'%')
    </select>
</mapper>
