spring:
  application:
    name: zuul
server:
  port: 8083
eureka:
  instance:
    preferIpAddress: true
    hostname: localhost
  client:
    service-url:
      defaultZone: http://${eureka.instance.hostname}:8080/eureka

zuul:
  routes:
    api-a:
      path: /A/**
      serviceId: service-consumer
    security:
      path: /security/**
      serviceId: security
